<div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">修改課程資訊與時間</h1>
</div>
<form class="form-signup" action="/teacher/{{user.id}}?_method=PUT" method="POST" style="width: 100%;">
    <div class="form-row mb-3">
        <label class="form-label" for="classIntroduce">課程介紹</label>
        <textarea class="form-control" id="classIntroduce" name="classIntroduce" rows="3"
            required>{{teacherInfo.classIntroduce}}</textarea>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="method">課程方式</label>
        <textarea class="form-control" id="method" name="method" rows="5">{{teacherInfo.method}}</textarea>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="duration">課程時長</label>
        <select class="form-select" id="duration" name="duration" required>
            <option value="30" {{#ifCond teacherInfo.duration "30" }}selected{{/ifCond}}>30分鐘</option>
            <option value="60" {{#ifCond teacherInfo.duration "60" }}selected{{/ifCond}}>60分鐘</option>
        </select>
    </div>

    <div class="form-row mb-3">
        <label class="form-label" for="availableWeekdays">可預約時間：</label>
        <div class="d-inline-flex">
            {{#each weekdays}}
            <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="weekday{{this.value}}" name="availableWeekdays"
                    value="{{this.value}}" {{#if this.checked}}checked{{/if}}>
                <label class="form-check-label" for="weekday{{this.value}}">{{this.label}}</label>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="form-row mb-3">
        <label class="form-label" for="classLink">課程視訊連結</label>
        <input type="text" id="classLink" name="classLink" class="form-control" value="{{teacherInfo.classLink}}"
            required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">提出申請</button>
</form>